div#tab_comfyui_webui_root {
    border: none;
}

div#comfyui_webui_container {
    position: fixed;
    left: 0px;
    width: 100%;
    bottom: 0px;
}

div.comfyui_iframes iframe {
    display: none;
    width: 100%;
    height: 100%;
}

div.comfyui_iframes iframe.comfyui-workflow-type-visible {
    display: block;
}

.comfyui-remove-display {
    display: none;
}
