div#tab_comfyui_webui_root {
    border: none;
}

div#comfyui_webui_container {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    top: 116px;
}

iframe#comfyui_webui_root {
    width: 100%;
    height: 100%;
}

#tabs:has( > div#tab_comfyui_webui_root[style*="display: block;"]) ~ #footer {
    display: none;
}
