div#tab_comfyui_webui_root {
    border: none;
}

div#comfyui_webui_container {
    position: fixed;
    left: 0px;
    width: 100%;
    bottom: 0px;
}

.comfyui-embedded-widget {
    width: 100%;
    height: 100%;
}

.comfyui-remove-display {
    display: none;
}
